/* ==========================================
STEP 23: Basic Page Styling
Vishal Malhotra responsible for designing
========================================== */

body{
font-family: Arial, sans-serif;
background:#100f0f;
padding:40px;
text-align:center;
}
/* STEP 24: Page Heading Style */

h1{
color:#fffdfd;
}


/* STEP 25: Form Layout Styling */

form{
background:rgb(110, 184, 249);
padding:30px;
border-radius:10px;
width:400px;
margin:auto;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:left;
}
/* STEP 26: Label Formatting */

label{
font-weight:bold;
display:block;
margin-top:10px;
}


/* STEP 27: Input Styling */

select, textarea{
width:100%;
padding:8px;
margin-top:5px;
}
/* STEP 28: Button Styling */

button{
margin-top:15px;
padding:10px;
width:100%;
background:#fcfcfc;
color:white;
border:none;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2a3ea2;
}


/* STEP 29: Order Output Box */

#output{
margin-top:30px;
background:white;
padding:20px;
border-radius:10px;
width:400px;
margin:auto;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}
